.vertical-timeline {
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  // vertical line
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 8px;
    border-radius: 4px;
    background-color: black;
  }
}

.vertical-timeline__content-container {
  position: relative;
  width: 50%;
  background-color: inherit;
  padding: 12px 36px 12px 12px;

  // arrow on container
  ::before {
    content: " ";
    position: absolute;
    top: 16px;
    right: -12px;
    z-index: 1;
    width: 0;
    height: 0;
    border: medium solid lightblue;
    border-width: 12px 0 12px 12px;
    border-color: transparent transparent transparent lightblue;
  }

  // circle on vertical line
  &::after {
    content: '';
    position: absolute;
    top: 24px;
    right: -20px;
    z-index: 1;
    width: 24px;
    height: 24px;
    border: 4px solid black;
    border-radius: 50%;
    background-color: white;
  }

  &--left {
    left: 0;
  }

  &--right {
    left: 50%;
    padding: 12px 12px 12px 44px;

    // adjust arrow on container
    ::before {
      left: -12px;
      border-width: 12px 12px 12px 0;
      border-color: transparent lightblue transparent transparent;
    }

    // adjust circle on vertical line
    &::after {
      left: -12px;
    }
  }
}

.vertical-timeline__content {
  position: relative;
  padding: 12px;
  border-radius: 8px;
  background-color: lightblue;

  h2 {
    margin: 0;
  }

  h4 {
    text-align: right;
    margin-bottom: 4px;
  }

  p {
    text-align: justify;
  }
}

@mixin vertical-timeline--dense() {
  left: 0;

  &::after {
    left: 28px;
  }

  // full-width containers
  .vertical-timeline__content-container {
    width: 100%;
    padding-left: 64px;
    padding-right: 12px;

    ::before {
      left: -12px;
      border: medium solid lightblue;
      border-width: 12px 12px 12px 0;
      border-color: transparent lightblue transparent transparent;
    }

    // make sure all circles are at the same spot
    &--left::after,
    &--right::after {
      left: 16px;
    }

    // make all right containers behave like the left ones
    &--right {
      left: 0%;
    }
  }
}

.vertical-timeline--dense {
  @include vertical-timeline--dense();
}

@media screen and (max-width: 600px) {

  // place the timelime to the left
  .vertical-timeline {
    @include vertical-timeline--dense();
  }
}
