<div class="vertical-timeline"
     [class.vertical-timeline--dense]="dense">
  <ng-container *ngFor="let article of articles; let odd = odd; let even = even">
    <article class="vertical-timeline__content-container"
             [class.vertical-timeline__content-container--left]="even"
             [class.vertical-timeline__content-container--right]="odd">
      <div class="vertical-timeline__content">
        <h2>{{ article.title }}</h2>
        <h4>{{ article.timestamp }}</h4>
        <ng-container *ngFor="let paragraph of article.paragraphs">
          <p>{{ paragraph }}</p>
        </ng-container>
      </div>
    </article>
  </ng-container>
</div>
