.navigation-side-bar {
  width: 12ch;
  box-sizing: border-box;
}

.navigation-side-bar__link {
  text-align: center;
  font-size: 12px !important;
  height: auto !important;

  .mat-list-item-content {
    flex-direction: column !important;
  }
}

.navigation-side-bar__link-label {
  padding: 8px 0;

  mat-icon {
    font-size: 36px;
    height: 36px;
    width: 36px;
  }
}
