/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
*/

// #region Dark theme configs

$mat-primary: (main: #e8a54a,
  lighter: #f8e4c9,
  darker: #de8a32,
  200: #e8a54a, // For slide toggle,
  contrast : (main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  ));

$mat-accent: (main: #ffd05d,
  lighter: #fff1ce,
  darker: #ffbe41,
  200: #ffd05d, // For slide toggle,
  contrast : (main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  ));

$mat-warn: (main: #ec664f,
  lighter: #f9d1ca,
  darker: #e44936,
  200: #ec664f, // For slide toggle,
  contrast : (main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  ));

$theme-primary: mat-palette($mat-primary, main, lighter, darker);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);
$dark-theme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);

// #endregion
