<div class="resume-view-layout"
     fxLayout="column">
  <header class="resume-view-layout__header"
          fxFlex
          fxLayout="row">
    <article fxFlex>
      <div>
        <mat-icon>home</mat-icon>
        <span>City, MD, 21228</span>
      </div>
      <div>
        <mat-icon>phone</mat-icon>
        <span>444-333-5555</span>
      </div>
      <div>
        <mat-icon>mail</mat-icon>
        <span>example@mail.com</span>
      </div>
      <div>
        <mat-icon>link</mat-icon>
        <span>LinkedIn Profile</span>
      </div>
    </article>
    <article fxFlex="auto">
      <h1>First Last</h1>
      <h2>Title</h2>
      <p>10 years of experience in Healthcare and related industry</p>
      <p>Master of Science in Electrical and Computer Engineering</p>
    </article>
  </header>
  <main class="resume-view-layout__body"
        fxFlex="auto"
        fxLayout="row">
    <aside fxFlex="none">
      <div class="sticky-layout"
           fxLayout="column">
        <div class="sticky-layout__body"
             fxFlex="auto">
          <mi-resume-navigation-bar [links]="links"></mi-resume-navigation-bar>
        </div>
      </div>
    </aside>
    <section fxFlex="auto">
      <div class="sticky-layout"
           fxLayout="column">
        <div class="sticky-layout__body"
             fxFlex="auto">
          <router-outlet></router-outlet>
        </div>
      </div>
    </section>
  </main>
</div>
