.silo-preview-article {
  text-decoration: none;
  display: inline-block;
  margin: 20px;
  width: 320px;

  :hover,
  :active {
    text-decoration: none;
  }
}

.preview-article-layout {
  border: 1px solid lightgray;
  border-radius: 4px;

  .preview-content-container {
    height: 156px;
    border-bottom: 1px solid lightgray;
  }

  .summary-content-container {
    padding: 16px;
  }
}
