<div class="skill-view"
     fxLayout="row wrap">
  <ng-container *ngFor="let item of [1, 2, 3, 4, 5]">
    <div class="skill-view__card-container"
         fxFlex="50">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Skill Name</mat-card-title>
          <mat-card-subtitle>X years experiences</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Vivamus suscipit tortor eget felis porttitor volutpat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Proin eget tortor risus.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
</div>
