/* Warm colors */
$red-1: #ec664f;
$red-2: #ef8a71;
$red-3: #f2b298;
$orange: #e8a54a;
$yellow: #ffd05d;
$warm-border: #84422b;
$warm-bg: #f3d9b6;

.red-1 {
  color: $red-1;
}

.red-1-bg {
  background-color: $red-1;
}

.red-2 {
  color: $red-2;
}

.red-2-bg {
  background-color: $red-2;
}

.red-3 {
  color: $red-3;
}

.red-3-bg {
  background-color: $red-3;
}

.orange {
  color: $orange;
}

.orange-bg {
  background-color: $orange;
}

.yellow {
  color: $yellow;
}

.yellow-bg {
  background-color: $yellow;
}

.warm-border {
  color: $warm-border;
}

.warm-border-bg {
  background-color: $warm-border;
}

.warm-bg {
  background-color: $warm-bg;
}

/* Cool colors */
$blue-1: #325877;
$blue-2: #4c7997;
$blue-3: #859eaf;
$green-1: #2b454a;
$green-2: #9aa990;
$green-3: #c5c9a3;
$purple-1: #585381;
$purple-2: #7a799e;
$cool-border: #5e4f50;
$cool-bg: #f5efdb;

.blue-1 {
  color: $blue-1;
}

.blue-1-bg {
  background-color: $blue-1;
}

.blue-2 {
  color: $blue-2;
}

.blue-2-bg {
  background-color: $blue-2;
}

.blue-3 {
  color: $blue-3;
}

.blue-3-bg {
  background-color: $blue-3;
}

.green-1 {
  color: $green-1;
}

.green-1-bg {
  background-color: $green-1;
}

.green-2 {
  color: $green-2;
}

.green-2-bg {
  background-color: $green-2;
}

.green-3 {
  color: $green-3;
}

.green-3-bg {
  background-color: $green-3;
}

.purple-1 {
  color: $purple-1;
}

.purple-1-bg {
  background-color: $purple-1;
}

.purple-2 {
  color: $purple-2;
}

.purple-2-bg {
  background-color: $purple-2;
}

.cool-border {
  color: $cool-border;
}

.cool-border-bg {
  background-color: $cool-border;
}

.cool-bg {
  background-color: $cool-bg;
}

/* Neutral colors */
$white: #f9eddb;
$black: #313640;

.white {
  color: $white;
}

.white-bg {
  background-color: $white;
}

.black {
  color: $black;
}

.black-bg {
  background-color: $black;
}
