.silo-sticky-layout {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;

  .silo-sticky-layout__body {
    height: 100%;
    overflow-y: auto;
  }
}

@media print {
  .silo-sticky-layout {
    .silo-sticky-layout__body {
      height: initial !important;
      overflow-y: initial !important;
    }
  }
}
