<silo-app-layout [class.mi-app-dark-theme]="isDark">
  <ng-container headerContent>
    <mat-toolbar color="primary">
      <span>My Application</span>
      <span style="flex: 1 1 auto"></span>
      <button mat-button
              [matMenuTriggerFor]="themePickerMenu">Theme</button>
      <mat-menu #themePickerMenu="matMenu">
        <button mat-menu-item
                (click)="isDark = false">Light</button>
        <button mat-menu-item
                (click)="isDark = true">Dark</button>
      </mat-menu>
    </mat-toolbar>
  </ng-container>
  <ng-container bodyContent>
    <!-- TODO: Body content -->
  </ng-container>
</silo-app-layout>
