<silo-app-layout [ngClass]="selectedTheme ? selectedTheme.id : ''">
  <ng-container headerContent>
    <mat-toolbar color="primary">
      <span>Silo NGX</span>
      <a mat-button routerLink="./components">Components</a>
      <a mat-button routerLink="./form-builder">Form Builder</a>
      <span style="flex: 1 1 auto"></span>
      <silo-theme-picker></silo-theme-picker>
    </mat-toolbar>
  </ng-container>
  <ng-container bodyContent>
    <router-outlet></router-outlet>
  </ng-container>
</silo-app-layout>
